

body {
	background-color: #FFFFFF;
	color: #000000;
}

a {
	color: #C8D7EB;
	text-decoration: underline;
}

a:visited {
	color: #C8D7EB;
}

a:active {
	color: #C8D7EB;
}

a:hover {
	color: #376BAD;
	text-decoration: underline;
}





.loginform_table {
	background-color: #EDF2F8;
	border-color: #BBCEE6;
	border-width: 1px;
	border-style: solid;
	color: #376BAD;
	border-spacing: 4px;
	font-family: Arial;
	font-size: 13px;
	text-align: right;
}

.loginform_header {
	background-color: #BBCEE6;
	color: #376BAD;
	text-align: center;
}

.loginform_text {
	background-color: #FFFFFF;
	border-color: #BBCEE6;
	border-width: 1px;
	border-style: solid;
	color: #376BAD;
	font-family: Arial;
	font-size: 13px;
}

.loginform_button {
	background-color: #FFFFFF;
	border-color: #BBCEE6;
	border-width: 1px;
	border-style: solid;
	color: #376BAD;
	font-family: Arial;
	font-size: 13px;
}

.logoutform_button {
	background-color: #EDF2F8;
	border-color: #BBCEE6;
	border-width: 1px;
	border-style: solid;
	color: #376BAD;
	font-family: Arial;
	font-size: 13px;
}

.forgotpasswordform_table {
	background-color: #EDF2F8;
	border-color: #BBCEE6;
	border-width: 1px;
	border-style: solid;
	color: #376BAD;
	font-family: Arial;
	font-size: 13px;
	text-align: right;
	border-spacing: 4px;
}

.forgotpasswordform_header {
	background-color: #BBCEE6;
	color: #376BAD;
	text-align: center;
}

.forgotpasswordform_text {
	background-color: #FFFFFF;
	border-color: #BBCEE6;
	border-width: 1px;
	border-style: solid;
	color: #376BAD;
	font-family: Arial;
	font-size: 13px;
}

.forgotpasswordform_button {
	background-color: #FFFFFF;
	border-color: #BBCEE6;
	border-width: 1px;
	border-style: solid;
	color: #376BAD;
	font-family: Arial;
	font-size: 13px;
}

.changepasswordform_table {
	background-color: #EDF2F8;
	border-color: #BBCEE6;
	border-width: 1px;
	border-style: solid;
	color: #376BAD;
	font-family: Arial;
	font-size: 13px;
	text-align: right;
	border-spacing: 4px;
}

.changepasswordform_header {
	background-color: #BBCEE6;
	color: #376BAD;
	text-align: center;
}

.changepasswordform_text {
	background-color: #FFFFFF;
	border-color: #BBCEE6;
	border-width: 1px;
	border-style: solid;
	color: #376BAD;
	font-family: Arial;
	font-size: 13px;
}

.changepasswordform_button {
	background-color: #FFFFFF;
	border-color: #BBCEE6;
	border-width: 1px;
	border-style: solid;
	color: #376BAD;
	font-family: Arial;
	font-size: 13px;
}

.signupform_table {
	background-color: #EDF2F8;
	border-color: #BBCEE6;
	border-width: 1px;
	border-style: solid;
	color: #376BAD;
	font-family: Arial;
	font-size: 13px;
	text-align: right;
	border-spacing: 4px;
}

.signupform_header {
	background-color: #BBCEE6;
	color: #376BAD;
	text-align: center;
}

.signupform_text {
	background-color: #FFFFFF;
	border-color: #BBCEE6;
	border-width: 1px;
	border-style: solid;
	color: #376BAD;
	font-family: Arial;
	font-size: 13px;
}

.signupform_button {
	background-color: #FFFFFF;
	border-color: #BBCEE6;
	border-width: 1px;
	border-style: solid;
	color: #376BAD;
	font-family: Arial;
	font-size: 13px;
}